/* ESTILOS DEL DOSCUMENTO */

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body {
    max-width: 100%;
}




/*////////////////////////////////////////////////*/
/* INDEX HTML */

    /* CABECERA */
    .container-cabecera {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-around;
        height: 6rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    /* Pagina Vacia */
    .titulo-pagina-vacia {
        margin-top: 20rem;
        padding: 0 4rem;
        text-align: center;
        color: rgb(76, 0, 255);;
    }

    .texto-pagina-vacia {
        margin-top: 2rem;
        padding: 0 4rem;
        text-align: center;
        color: gray;
    }


    /* Modal Anadir Alumno (Display None) */
    .modal-anadir-alumno {
        display: none;  
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        overflow: auto; /* Enable scroll if needed */
        left: 0;
        top: 0;
        margin-top: 0;
        width: 100%; /* Could be more or less, depending on screen size */
        height: 100%;
        border-radius: 30px 30px 0 0;
        background-color: #ffffff;
    }

    .container-ingresar-nuevo-usuario{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2.5rem;
        margin-top: 0.8rem;
    }

    .titulo-seccion-nuevo-alumno{
        margin: 3rem;
    }

    .input-ingresa-nombre-usuario{
        height: 4.8rem;
        width: 80%;
        font-size: clamp(1.3rem, 5vmin, 1.4rem);
        line-height: clamp(1.5rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        text-align: left;
        display: block;
        margin-bottom: 0.8rem;
    }

    .input-ingresa-apellido-usuario{
        height: 4.8rem;
        width: 80%;
        font-size: clamp(1.3rem, 5vmin, 1.4rem);
        line-height: clamp(1.5rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        text-align: left;
        display: block;
        margin-bottom: 0.8rem;
    }

    .button-form-user{
        height: 4rem;
        width: 80%;
        margin-top: 1.5rem;
        background-color: rgb(13, 182, 103);
        color: whitesmoke;
        border: none;
        border-radius: 100rem;
        font-size: clamp(1.3rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
    }




    /* Modal Ingresar Datos Dia Alumno (Display None) */
    .modal-ingresar-datos-dia-alumno{
        display: none;  
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        overflow: auto; /* Enable scroll if needed */
        left: 0;
        top: 0;
        margin-top: 0;
        width: 100%; /* Could be more or less, depending on screen size */
        height: 100%;
        background-color: #f7f7f7;
    }



  
  /* Seccion Datos Alumno */

  .container-datos-alumno {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  .imagen-perfil-alumno {
      display: flex;
      justify-content: space-around;
  }

  .imagen-perfil-alumno img {
      height: 70px;
      width: 70px;
      border-radius: 100%;
      margin: 25px 15px 25px 0px;
      object-fit:cover;
  }

  .nombreAlumno {
      margin: 0;
      display: flex;
      justify-content: space-around;
      margin: 25px 50px 25px 0px;
  }






/*////////////////////////////////////////////////*/
/* INGRESO DATOS ALUMNOS - JS - */

    /* Seccion Toma de leche */
    .titulo-seccion{
        margin: 0.8rem 0 0.8rem 2rem;
    }

    .container-toma-leche {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2.5rem;
        margin-top: 0.8rem;
    }

    input[type="radio"] {
        appearance: none;
        background-color: white;
        border-radius: 100%;
    }

    input[type="radio"]:checked {
        /* background-color: #555555; */
        background-color: #7ee8fa;
        background-image: linear-gradient(300deg, #7ee8fa 0%, #beffb7 74%);
        

    }

    .titulo-toma {
        margin: 0.8rem 0 0.8rem 0;
    }

    .label-toma-leche {
        font-size: clamp(1rem, 5vmin, 1.3rem);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        text-align: left;
        color: rgb(157, 157, 157);
    }

    .input-hora-toma-leche{
        height: 4.8rem;
        width: 9rem;
        font-size: clamp(1.3rem, 5vmin, 1.4rem);
        line-height: clamp(1.5rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        text-align: left;
        display: block;
        margin-bottom: 0.8rem;
    }

    .input-ml-toma-leche{
        height: 4.8rem;
        width: 9rem;
        font-size: clamp(1.3rem, 5vmin, 1.4rem);
        line-height: clamp(1.5rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        text-align: left;
        display: block;
        margin-bottom: 0.8rem;
    }


    /* Seccion Comidas */

    .comidas {
        margin-bottom: 1rem;
        background-color: rgb(244, 244, 244);
        padding: 1.5rem 0;
    }

    .titulo-comidas {
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    .container-comidas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        font-size: clamp(1rem, 5vmin, 1.3rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
    }

    .form-comidas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .input-comidas{
        height: 3.5rem;
        width: 3.5rem;   
    }







    /* Modal */
    .modal {
        display: none;
        position: fixed; /* Stay in place */
        z-index: 4; /* Sit on top */
        overflow: auto; /* Enable scroll if needed */
        left: 0;
        top: 0;
        margin-top: 12rem;
        width: 100%; /* Could be more or less, depending on screen size */
        height: 100%;
        border-radius: 30px 30px 0 0;
        background-color: #f7f7f7;
    }

    /* Modal Content/Box */
    .modal-content {
        padding: 5rem 7rem 0 7rem;
    }

    .div-portadas {
        margin-bottom: 3rem;
    }

    .div-portadas h3 {
        margin-bottom: 0.4rem;
        text-transform:capitalize;
    }

    .div-portadas h4 {
        margin-bottom: 2.5rem;
        text-transform:capitalize;
    }

    .div-toma {
        margin-bottom: 3rem;
    }

    .titulo-toma-ficha {
        margin-top: 2rem;
        margin-bottom: 0.4rem;
        text-transform:capitalize;
    }




/*////////////////////////////////////////////////*/
/* BOTONES */
    /* Boton Enviar */
    .button-enviar {
        height: 4rem;
        width: 50%;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        background-color: rgb(13, 182, 103);
        color: whitesmoke;
        border: none;
        border-radius: 100rem;
        font-size: clamp(1.3rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        margin-left: 25%;
    }

    /* Mensaje datos enviados -Dia Nino-*/
    .mensaje-datos-guardados{
        color: rgb(13, 182, 103);
        text-align: center;
    }

    /* Boton cierre Modal*/ 
    .boton-cierre-modal {
        position: relative;
        right: 0;
        bottom: 0;
        height: 4rem;
        width: 80%;
        margin-top: 5rem;
        background-color: transparent;
        border: 1px solid rgb(76, 0, 255);
        color: rgb(76, 0, 255);
        border-radius: 100rem;
        font-size: clamp(1.3rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
    }


    /* Boton Anadir Nuevo Alumno*/
    .button-anadir-alumno {
        height: 4rem;
        width: 45%;
        background-color: rgb(76, 0, 255);;
        color: whitesmoke;
        border: none;
        border-radius: 100rem;
        font-size: clamp(1.3rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        text-align: center;
    }

        /* Boton cierre Nuevo Alumno*/ 
        .boton-cierre-nuevo-alumno-modal {
            height: 4rem;
            width: 80%;
            margin-top: 1rem;
            background-color: transparent;
            border: 1px solid rgb(76, 0, 255);
            color: rgb(76, 0, 255);
            border-radius: 100rem;
            font-size: clamp(1.3rem, 5vmin, 1.6rem);
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 400;
        }


        #buttonFicha {
            height: 4rem;
            width: 40%;
            margin-top: 0;
            margin-bottom: 3rem;
            background-color: transparent;
            border: 1px solid rgb(76, 0, 255);
            color: rgb(76, 0, 255);
            border-radius: 100rem;
            font-size: clamp(1.3rem, 5vmin, 1.6rem);
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 400;
        }

        #buttonFicha2 {
            height: 4rem;
            width: 20%;
            margin-top: 0;
            margin-bottom: 3rem;
            margin-left: 3rem;
            background-color: transparent;
            border: 1px solid rgb(255, 0, 81);
            color: rgb(255, 0, 81);
            border-radius: 100rem;
            font-size: clamp(1.3rem, 5vmin, 1.6rem);
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 400;
        }





/*////////////////////////////////////////////////*/
/* INGRESO DATOS ALUMNOS JS */
    /* Ficha Alumno Home page */

    .contenedor-datos-alumno-home{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        padding-bottom: 1rem;
        margin-top: 3rem;
        border-bottom: 0.1rem solid rgb(206, 206, 206);
    }

    .imagen-perfil-alumno-home{
        height: 6rem;
        width: 100%;
    }

    .imagen-perfil-alumno-home img {
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        margin: 0 2rem 0 2rem;
        object-fit:cover;
    }
    
    .nombre-dia-alumno-home{
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
    }

    .boton-dia-alumno-home{
        padding-right: 2rem;
    }

    .boton-ir-a-ficha-nino{
        height: 4rem;
        width: 100%;
        background-color: transparent;
        border: 1px solid rgb(76, 0, 255);
        color: rgb(76, 0, 255);
        border-radius: 100rem;
        font-size: clamp(1.3rem, 5vmin, 1.6rem);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
    }


    .idEscondido{
        display: none;
    }







/*////////////////////////////////////////////////*/
/* TIPOGRAFIAS */
    /* Fluid Typography */
    h1 {
        font-size: clamp(3.4rem, 5vmin, 4rem);
        line-height: clamp(3.2rem, 5vmin, 3.8rem);
        color: rgb(74, 74, 74);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        text-align: left;
    }




    h2 {
        font-size: clamp(2.2rem, 5vmin, 2.8rem);
        line-height: clamp(2.4rem, 5vmin, 3rem);
        color: rgb(74, 74, 74);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        text-align: left;
    }


    h3 {
        font-size: clamp(1.8rem, 5vmin, 2.4rem);
        line-height: clamp(2rem, 5vmin, 2.6rem);
        color: rgb(74, 74, 74);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 600;
        text-align: left;
    }

    h4 {
        font-size: clamp(1.2rem, 5vmin, 1.6rem);
        line-height: clamp(1.6rem, 5vmin, 1.9rem);
        color: rgb(74, 74, 74);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        text-align: left;
    }

    h5 {
        font-size: clamp(1rem, 5vmin, 1.4rem);
        line-height: clamp(1.3rem, 5vmin, 1.7rem);
        color: rgb(74, 74, 74);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        text-align: left;
    }


    .font-nombre-home{
        font-size: clamp(1.6rem, 5vmin, 1.8rem);
        line-height: clamp(2.4rem, 5vmin, 2.6rem);
        color: rgb(74, 74, 74);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 600;
        text-align: left;
    }

    .font-apellido-home{
        font-size: clamp(1.6rem, 5vmin, 1.8rem);
        line-height: clamp(2.4rem, 5vmin, 2.6rem);
        color: rgb(74, 74, 74);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        text-align: left;
    }